opencv-contrib-python>=4.5.5.64
onnxruntime-gpu
dearpygui>=1.11.0
mediapipe
protobuf>=3.20.0
filterpy>=1.4.5
pafy
ffmpeg-python
serial
pytest 
youtube-dl
yt-dlp
pymongo
librosa
matplotlib
soundfile
sounddevice
requests
scikit-learn
scipy>=1.7.0
lap>=0.4.0
cython-bbox>=0.1.3
motpy>=0.0.10
norfair>=2.2.0
rich>=10.0.0
