opencv-contrib-python>=4.5.5.64
onnxruntime-gpu
dearpygui>=1.11.0
mediapipe
protobuf>=3.20.0
filterpy>=1.4.5
pafy
ffmpeg-python
serial
pytest 
youtube-dl
yt-dlp
pymongo
librosa
matplotlib
soundfile
sounddevice
requests
scikit-learn
